.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.portfolio__item {
    width: calc((100% / 3) - 20px);
    margin: 10px;
    padding: 20px;
    background-color: #2C2C6C;
    border-radius: 20px; 
}

.portfolio__image {
    border-radius: 20px; 
    overflow: hidden;
}

.portfolio__title {
    margin: 20px 0;
    line-height: 1.5;
    color: #fff;
}